<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843456771665-dnmqf8030vqkqupag2u0daidgg1db9ut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843456771665-dnmqf8030vqkqupag2u0daidgg1db9ut</string>
	<key>API_KEY</key>
	<string>AIzaSyCO5Sne8yjGu5kRTgf9ivz_iCYn8WA0cU0</string>
	<key>GCM_SENDER_ID</key>
	<string>843456771665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jinahonestop.jinah.ios</string>
	<key>PROJECT_ID</key>
	<string>foodking-inilabs</string>
	<key>STORAGE_BUCKET</key>
	<string>foodking-inilabs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843456771665:ios:9eb167b162e76a94582a70</string>
</dict>
</plist>